version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: Admin@12345
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: umamakausar/discover-dollar-assignment:backend-latest
    container_name: backend
    restart: always
    depends_on:
      - mongodb
    environment:
      MONGO_HOST: mongodb
      MONGO_PORT: "27017"
      MONGO_DB: crud_db
      MONGO_USER: admin
      MONGO_PASS: Admin@12345
    ports:
      - "8080:8080"

  frontend:
    image: umamakausar/discover-dollar-assignment:frontend-latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8081:8081"

volumes:
  mongo_data:
